body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

body.dark-theme {
    background-color: #2c3e50;
    color: white;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#results {
    margin-top: 20px;
}
